body{
    margin: 0;
}
.nav{
    text-align: center;
}
.logo{
    background-color: aqua;
    width: 20%;
    height: 10vh;
    /*background-image: url("Matching Game Pics/F13.png");*/
}
.header{
    background-color: lightcoral;
    height: 30vh;
    text-align: center;
    font-size: 30px;
}
.game-area-container{
    background-color: pink;
    height: 70vh;
    display: flex;
    width: 100%;
}
.cardContainer{
    width:100%;
    display: flex;
}
.stats-area{
    height: 100%;
    width: 10%;
    background-color: lightgreen;
}
.time-played{
    height: 20%;
    background-color: indianred;
    border: 2px solid;

}
.times-tried{
    height: 20%;
    background-color: lightcyan;
    border: 2px solid;
}
.accuracy{
    height: 20%;
    background-color: lightseagreen;
    border: 2px solid;
}
.container{
    height: 33.33%;
    width: 100%;
    margin: auto;
}
.card{
    height: 90%;
    width: 90%;
    position: relative;
    top: 5%;
    left: 5%;


}
.hide{
    display: none;
}
/*.imageFront{*/
    /*width:80%;*/
    /*display: flex;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.back{
    background-image: url("images/F13.png");

}
.imageFront, .back{
    height:100%;
    width: 100%;
    position: absolute;
}
/*.card:hover >.back{*/
    /*display: none;*/
/*}*/