body{
    margin: 0;
    height:100vh;
    background-color: black;
}
.nav{
    text-align: center;
}
.link{
    color: white;
}
.logo{
    background-image: url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 10vh;
    /*background-image: url("Matching Game Pics/F13.png");*/
}
.header{
    height: 20%;
    text-align: center;
    font-size: 30px;
    background-image: url("images/header1.png");
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}
.game-area{
    height: 80%;

}
.game-area-container{
    /*background-color: pink;*/
    height: 100%;
}
.card-area{
    display: inline-block;
    width: 84%;
    height: 100%;
    background-image: url("images/background.png");
    background-size: contain;
}
.stats-area{
    height: 100%;
    width: 15%;
    display: inline-block;
    vertical-align: top;
    background-color: black;
    color: white;
}
.time-played{
    height: 20%;
    border: 2px solid;

}
.games-played{
    height: 20%;
    border: 2px solid;
    align-content: center;

}
.times-tried{
    height: 30%;
    border: 2px solid;
}
.accuracy{
    height: 20%;
    border: 2px solid;
}
.container{
    height: 33%;
    width: 16%;
    margin: auto;
    display: inline-block;
}
.card{
    height: 90%;
    width: 90%;
    position: relative;
    top: 5%;
    left: 5%;
}
.hide{
    display: none;
}

.back{
    background-image: url("images/F13.png");
    background-size: contain;

}
.imageFront, .back{
    height:100%;
    width: 100%;
    position: absolute;
}

.rules{
    visibility: hidden;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 100%;
}
.rules-content{
    visibility: hidden;
    text-align: center;
    
}
.rules.active , .rules-content.active{
    visibility:visible;
}

.modal-content{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    
}
.modal-title{
    background-color: white;
}
.hide{
    display: none;
}

